* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #555;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* Hamburger */
.hamburger {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* Close Button */
.close-btn {
    display: none;
}

/* ============================= */
/* Mobile Styles */
@media (max-width: 800px) {

    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 250px;
        background-color: #444;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        transition: 0.4s ease;
    }

    .nav-links.active {
        left: 0;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 22px;
        cursor: pointer;
        color: white;
    }
}